<footer class="club-footer">
  <div class="club-footer__container">
    <nav class="club-footer__navbar">
      <a class="club-footer__brand" href="./index.html">Poblenou Chess Club</a>
      <ul class="club-footer__navbar-list">
        <li class="club-footer__navbar-item">
          <a class="club-footer__navbar-link" href="./members.html">Members</a>
        </li>
        <li class="club-footer__navbar-item">
          <a class="club-footer__navbar-link" href="./tournament.html">
            Annual Tournament
          </a>
        </li>
        <li class="club-footer__navbar-item">
          <a class="club-footer__navbar-link" href="./gallery.html">
            Photo Gallery
          </a>
        </li>
      </ul>
      <ul class="club-footer__social-list nav">
        <li class="club-footer__social-item nav-item">
          <a
            class="club-footer__social-link nav-link text-white"
            href="#"
            aria-label="Facebook"
          >
            <i
              class="club-footer__icon club-footer__social-icon bi bi-facebook"
            ></i>
          </a>
        </li>
        <li class="club-footer__social-item nav-item">
          <a
            class="club-footer__social-link nav-link text-white"
            href="#"
            aria-label="Twitter"
          >
            <i class="club-footer__icon bi bi-twitter"></i>
          </a>
        </li>
        <li class="club-footer__social-item nav-item">
          <a
            class="club-footer__social-link nav-link text-white"
            href="#"
            aria-label="Instagram"
          >
            <i class="club-footer__icon bi bi-instagram"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="author">
    <p class="author__text">
      &copy; Made by Pierre-Antoine Tremblay for the class
      <span class="author__text--lang" lang="es">
        "Herramientas HTML y CSS 2"
      </span>
      of the
      <span class="author__text--lang" lang="ca">
        "Universitat Oberta de Catalunya"
      </span>
      ,
      <time datetime="2023">2023</time>
      .
    </p>
  </div>
  <div class="copyrights">
    <p class="copyrights__text">
      All texts are free of copyrights. The pictures come from
      <a
        class="copyrights__links copyrights__links--hover"
        href="https://www.pexels.com/fr-fr/"
        target="_blank"
      >
        Pexels
      </a>
      and
      <a
        class="copyrights__links copyrights__links--hover"
        href="https://unsplash.com/fr"
        target="_blank"
      >
        Unsplash
      </a>
      . All can be reproduced freely here, and their attribution, if necessary,
      is indicated.
    </p>
  </div>
</footer>
