/* ------------------------------------ *\
   LINKS
\* ------------------------------------ */

@mixin link-style($color-white) {
  position: relative;
  font-weight: $font-weight-bold;
  color: $color-secondary;
  text-decoration: none;

  @extend %transitions;

  &::after {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    content: "";
    background-color: $color-white;
    transition: transform 0.3s ease;
    transform: scaleX(0);
  }

  &:hover::after {
    transform: scaleX(1);
  }
}

%transitions {
  transition: color 0.3s ease;
}

.club-poster {
  position: relative;
  margin: 0 auto;
}

.club-poster__title {
  margin-bottom: 0.25em;
  font-family: $font-family-sans-serif;
  font-size: calc(3em + 3vw);
  font-weight: bold;
  color: $color-primary-lighter;

  @media (max-width: $breakpoint-mobile) {
    color: #956a3d;
  }
}

.club-poster__subtitle {
  margin-bottom: 1em;
  font-size: calc(1em + 0.5vw);
  color: $color-secondary-lighter;
  text-transform: uppercase;
}

.club-poster--line {
  opacity: 0;
}

.club-poster__description {
  margin-bottom: 1em;
  line-height: 1.3;
}

.club-poster__link {
  display: block;
  margin-bottom: 2em;
  font-weight: bold;
  color: $color-secondary;
  text-decoration: none;
  border-bottom: $color-secondary solid 1px;
}

.club-poster__link--hover:hover {
  color: $color-primary-lighter;
}

/* ------------------------------------ *\
   BUTTONS
\* ------------------------------------ */

.custom-btn {
  padding: 1em 2em;
  font-size: 100%;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  border: 0;
  border-radius: 0;
}

/* ------------------------------------ *\
   HEADERS
\* ------------------------------------ */

.club-members__title,
.club-gallery__title {
  justify-content: center;
  margin: 2rem 0;
}

.rules__title,
.draw__title,
.schedule__title,
.club-gallery__title {
  margin-top: 4rem;
  margin-bottom: 3rem;
  text-align: center;
}

/* ------------------------------------ *\
   MAIN NAV
\* ------------------------------------ */

.club-header__container--margin {
  margin-right: 2rem;
  margin-left: 2rem;
}

.club-header__container {
  justify-content: space-between;
}

.club-header__item {
  margin-right: 1.5rem;
}

/* ------------------------------------ *\
   FOOTER
\* ------------------------------------ */

.club-footer {
  padding: 35px 20px;
  margin-top: 50px;
  color: $color-white;
  text-align: center;
  background-color: $color-secondary;
}

.club-footer__navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 35px;

  @media (max-width: $breakpoint-mobile) {
    flex-direction: column;
  }
}

.club-footer__navbar-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 0;
  list-style: none;

  @media (max-width: $breakpoint-mobile) {
    gap: 20px;
  }
}

.club-footer__brand,
.club-footer__navbar-list,
.club-footer__social-list {
  flex: 1 0 33.33%;
  margin: auto 0;
}

.club-footer__social-list {
  justify-content: center;
  font-size: 30px;
}

.club-footer__brand,
.club-footer__navbar-link {
  color: $color-white;
  text-decoration: none;
}

.club-footer__navbar-item,
.club-footer__social-item {
  margin: 1rem 0;
}

.author__text {
  margin-bottom: 20px;
  font-size: 14px;

  @media (max-width: $breakpoint-mobile) {
    font-size: 16px;
  }
}

.author__text--lang {
  font-style: italic;
}

.copyrights__text {
  margin-inline: 10%;
  margin-bottom: 0;
  font-size: 14px;

  @media (max-width: $breakpoint-mobile) {
    margin: 0;
    font-size: 16px;
  }
}

.copyrights__links {
  color: $color-white;
}

.club-footer__brand:hover,
.club-footer__navbar-link:hover,
.copyrights__links--hover:hover,
.club-footer__icon:hover {
  color: $color-primary-lighter;
}

/* ------------------------------------ *\
   MEMBER CARD INFO
\* ------------------------------------ */

.member-card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 250px;
  padding: 1rem;
  border: $color-secondary-lighter solid 1px;
}

.member-card__name {
  align-self: center;
  font-size: 1.3rem;
  font-weight: bold;
}

.member-card__description {
  align-self: center;
  font-size: 1rem;
}
