/* ------------------------------------ *\
   FRONTPAGE SECTION
\* ------------------------------------ */

.club-poster__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.club-poster__img--darkened-layer {
  position: relative;
  display: inline-block;
  overflow: hidden;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.club-poster__location {
  font-weight: bold;
  line-height: 1.5;
  text-transform: uppercase;
}

.club-poster__location-address {
  font-weight: normal;
}

.club-poster__btn {
  font-weight: bold;
}

/* ------------------------------------ *\
   MEMBERS SECTION
\* ------------------------------------ */

.member-card__contact {
  display: flex;
  flex-grow: 1;
  align-items: flex-end; /* Align the text at the bottom of the available space */

  @include link-style($color-secondary-lighter);
  align-self: center;
  font-size: 1rem;
}

.member-card__contact:hover {
  color: $color-secondary-lighter;
}

/* ------------------------------------ *\
   TOURNAMENT SECTION
\* ------------------------------------ */

.club-tournament__hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 56px);
  overflow: hidden;
  background-image: url("../images/hero-tournament.jpg");
  background-position: center top;
  background-size: cover;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.club-tournament__title {
  position: relative;
  z-index: 1;
  padding: 0 2rem;
  margin-top: calc(100vh * 0.45);
  font-size: 4rem;
  font-weight: bold;
  color: #daa520;
  text-align: center;
  text-transform: uppercase;

  @media (max-width: $breakpoint-mobile) {
    font-size: 50px;
  }
}

.draw__img-wrapper {
  position: relative;
  display: block;
  max-width: 70vw;
  margin: 0 auto;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(218, 165, 32, 0.189);
  }

  @media (max-width: $breakpoint-mobile) {
    max-width: 90vw;
  }
}

.draw__img {
  display: block;
  width: 100%;
  height: auto;
}

.schedule__table {
  margin: 0 auto;
  border-collapse: collapse;
}

.schedule__table-header,
.schedule__table-cell {
  width: 100px;
  height: 100px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid black;
}

.schedule__table-cell {
  position: relative;
  font-weight: bold;
}

.schedule__table-row:nth-child(odd) td:nth-child(odd),
.schedule__table-row:nth-child(even) td:nth-child(even) {
  background-color: #f0e6d6d8;
}

.schedule__table-row:nth-child(odd) td:nth-child(even),
.schedule__table-row:nth-child(even) td:nth-child(odd) {
  background-color: #b5886399;
}

.schedule__table-header {
  color: $color-white;
  background-color: #000000c7;
}

.schedule__table-header:nth-child(1),
.schedule__table-header:nth-child(2),
.schedule__table-header:nth-child(6),
.schedule__table-header:nth-child(7),
.empty {
  @media (max-width: $breakpoint-mobile) {
    display: none;
  }
}

.schedule__table-cell--piece::before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  display: inline-block;
  width: 80px;
  height: 80px;
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.rules__text1,
.rules__p3 {
  font-size: 1.4rem;
  line-height: 35px;
}

.rules__list {
  margin: auto 3rem;

  @media (max-width: $breakpoint-mobile) {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

.rules__list-item {
  margin-bottom: 1.5rem;
}

.rules__blockquote {
  margin: 0;
}

.rules__blockquote-text {
  padding: 15px;
  background-color: #eee;
  border-radius: 5px;
}

.rules__blockquote-text::before {
  content: "\201C";
}

.rules__blockquote-text::after {
  content: "\201D";
}

.schedule {
  margin-bottom: 6rem;
}

/* ------------------------------------ *\
   PHOTO GALLERY SECTION
\* ------------------------------------ */
