/* ------------------------------------ *\
   FRONTPAGE SECTION LAYOUT
\* ------------------------------------ */

.club-homepage {
  max-height: 100vw;
}

@supports (display: grid) {
  @media (min-width: 42em) and (min-height: 27em) {
    .club-poster {
      display: grid;
      grid-template-rows: 35vh calc(40vh - 56px) 15vh 10vh;
      /* stylelint-disable */
      grid-template-columns:
        1fr minmax(10em, max-content) minmax(10em, max-content)
        minmax(1em, 1fr) fit-content(28em) calc(2em + 4vw);
      /* stylelint-enable */
      max-width: none;
      padding: 0;
    }

    .club-poster--title {
      z-index: 2;
      grid-row: 1 / 2;
      grid-column: 3 / 6;
      padding-left: 0.25em;
      margin-bottom: initial;
    }

    .club-poster--subtitle {
      grid-row: 1 / -1;
      grid-column: 6 / 7;
      margin-top: 1rem;
      margin-bottom: initial;
      color: $color-white;
      writing-mode: vertical-rl;
    }

    .club-poster--line {
      grid-row: 2;
      grid-column: 5 / 6;
      width: 20ch;
      height: 6px;
      background-color: $color-secondary;
    }

    .club-poster--description {
      grid-row: 2;
      grid-column: 5 / 6;
      align-self: end;
      padding-bottom: 4vh;
      margin-bottom: initial;
    }

    .club-poster--link {
      grid-column: 5 / 6;
      align-self: center;
      justify-self: end;
      margin-bottom: initial;

      &::before {
        display: block;
        width: 4ch;
        height: 4px;
        margin-bottom: 1em;
        content: "";
        background-color: $color-secondary-lighter;
      }
    }

    .club-poster--img {
      grid-row: 1 / 4;
      grid-column: 1 / 4;
    }

    .club-poster--location {
      z-index: 2;
      display: flex;
      grid-row: 3 / 4;
      grid-column: 3 / 4;
      padding: 0 2em;
      text-align: center;
      background: $color-white;

      p {
        margin: auto;
      }
    }

    .club-poster--btn {
      position: initial;
      grid-row: 4 / 5;
      grid-column: 2 / 3;
      align-self: stretch;
      justify-self: stretch;
      padding: 0;
    }
  }
  @media (min-width: 48em) and (min-height: 27em) {
    .club-poster--line {
      opacity: 1;
    }
  }
}

/* ------------------------------------ *\
   MEMBERS SECTION LAYOUT
\* ------------------------------------ */

.club-members {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.club-members__content {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
  margin: 2rem 5rem;
}

/* ------------------------------------ *\
  TOURNAMENT SECTION LAYOUT
\* ------------------------------------ */

.rules__description {
  display: grid;
  grid-template: repeat(3, auto) / 2fr 3fr;
  grid-template-areas: "quote text1" "list list" "text3 text3";
  grid-gap: 3rem 2rem;
  width: 70vw;
  margin: 0 auto;
}

.rules__quote {
  grid-area: quote;
  align-self: center;
  line-height: 30px;
}

.rules__text1 {
  grid-area: text1;
}

.rules__list {
  grid-area: list;
}

.rules__text2 {
  grid-area: text2;
}

.rules__text3 {
  grid-area: text3;
}

.rules__p3 {
  margin-top: 1.5rem;
}

/* ------------------------------------ *\
   PHOTO GALLERY SECTION LAYOUT
\* ------------------------------------ */

.club-gallery__content {
  max-width: 50vw;

  @media (max-width: $breakpoint-mobile) {
    max-width: 90vw;
  }
}

.club-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}
